.purplemodal .modal-content .w-100 {
    color:white;
}

.purplemodal .modal-content .div {
    color:white;    
}

    .purplemodal .modal-content .form-control-label {
        color:white;        
    }


.purplemodal .modal-content {
background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

